@media screen and (max-width: 1023px) {

  /* Brand Section */
  
  .background-header { height: auto; }
  
  .brand > div {
    height: fit-content;
  }

  .empowered-apps div:nth-child(1) {
    left: 5%;
    top: 10%;
  }

  .empowered-apps div:nth-child(2) {
    top: 10%;
    right: 50%;
  }
  
  .empowered-apps div:nth-child(3) {
    top: 10%;
    right: 0;
  }
  
  .empowered-apps div:nth-child(4) {
    top: 36%;
    left: 5%;
  }
  
  .empowered-apps div:nth-child(5) {
    top: 36%;
    right: 22%;
  }
  
  .empowered-apps div:nth-child(6) {
    top: 63%;
    right: 63%;
  }
  
  .empowered-apps div:nth-child(7) {
    top: 69%;
    right: 2%;
  }
  
  /* Key Benefits Section */

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

@media screen and (max-width: 768px) {

    .background-header {
      background-image: conic-gradient(from 200deg at 70% 45%, white 0% 17%, #f3f3f3 17% 50%, var(--primary-shadow) 50% 67%, white 67% 100%);
    }

    .brand > div { flex-direction: column; }

    .brand-statement { text-align: center; }
    
    [aria-controls="navbarDropdown"] {
      display: block;
    }

    [aria-expanded="false"] ~ ul {
      display: none;
    }

    section.header [aria-expanded="true"] .responsive-nav {
      display: block;
    }

    [aria-expanded="true"] ~ ul li a {
      color: var(--font-color-dark);
      margin-right: var(--size-20);
    }
    
    header .btn-default {
      display: none;
    }

    /* Brand Section */
    
    .brand > div { gap: var(--size-25); }

    .brand-statement h1 { 
      font-size: var(--size-25);
      font-weight: 500;
    }

    .empowered-apps div:nth-child(1) {
      left: 5%;
      top: 10%;
    }

    .empowered-apps div:nth-child(2) {
      top: 10%;
      right: 40%;
    }
    
    .empowered-apps div:nth-child(3) {
      top: 10%;
      right: 0;
    }
    
    .empowered-apps div:nth-child(4) {
      top: 36%;
      left: 5%;
    }
    
    .empowered-apps div:nth-child(5) {
      top: 36%;
      right: 20%;
    }
    
    .empowered-apps div:nth-child(6) {
      top: 65%;
      right: 48%;
    }
    
    .empowered-apps div:nth-child(7) {
      top: 69%;
      right: 4%;
    }

    /* Key Benefits Section */

    .key-benefits-heading {
      font-size: var(--size-20);
    }

    .key-benefits-heading div { 
      font-size: var(--size-15);
    }

    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    /* Video Demo Section */

    .small-video-container {
      flex-direction: column;
      text-align: center;
    }
  
    /* Product Pitch Section */

    .product-pitch-heading { 
      width: 100%;
      margin-bottom: var(--size-25);
    }

    /* Testimony Section */

    .comments {
      align-items: center;
      text-align: center;
      width: 90%;
      margin-top: var(--size-100);
    }
  
    /* Testimony Section */
  
    .featured-review {
      width: 100%;
      margin-top: var(--size-25);
      flex-direction: column;
      align-items: center;
      gap: 0;
    }
    
    /* Trusted Partners Section */

    section.trusted-partners { margin: var(--size-50) 0; }

    /* Product Pricing Section */
    
    .pricing-overview {
      flex-direction: column;
      align-items: center;
    }

    .payment-card { text-align: center; }

    .payment-card p {
      text-align: initial;
      font-size: var(--size-18);
    }

    .pricing-features { display: flex; }

    .payment-card,
    .pricing-features { width: 100%; }
  
    .payment-card > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: var(--size-13);
      padding: var(--size-40);
    }

    /* Application Form Section */

    section.application-form > div {
      width: initial;
      flex-direction: column;
      height: fit-content;
      padding: var(--size-40) var(--size-25);
    }
    
    .hire-us-form { 
      width: 100%;
    }

    .hire-us-pitch,
    .hire-us-form,
    .bubble-people {
      width: 100%;
    }

    .bubble-people {
      padding-top: var(--size-25);
      margin: 0 auto;
    }
    
    .hire-us-form,
    .hire-us-form > div { padding: var(--size-15); }

    .hire-us-form > div { width: 100%; }

    /* Info Footer Section */

    .site-nav,
    .company.contact,
    .media-info > div:first-child {
      align-items: center;
    }

    .site-nav,
    .media-info > div:first-child {
      flex-direction: column;
    }

    .company-contact { 
      flex-direction: row;
      align-items: center;
      justify-content: center;
      column-gap: var(--size-50);
  }

    .media-info > div:first-child { gap: var(--size-20); }

    .media-links-container select { margin: 0 auto; }

  }


  @media screen and (max-width: 600px) {

    .step-outline { 
      flex-wrap: wrap;
    }

    .step hr { display: none; }
        
    .step {
      flex-direction: row;
      align-items: center;
      gap: var(--size-15);
      width: var(--size-250);
    }
    
    .cards { 
      display: flex;
      flex-direction: column;
    }

    .hire-us-pitch > div { 
      flex-direction: column;
      text-align: center;
    }

  }


  @media screen and (max-width: 360px) {

    .background-header {
      background-image: conic-gradient(from 190deg at 60% 70%, white 0% 17%, #f3f3f3 17% 50%, var(--primary-shadow) 50% 67%, white 67% 100%);
    }

    .payment-card p { font-size: var(--size-15); }
    
    .payment-card > div div:last-child {
      font-size: var(--size-12);
    }

    .privacy-policy div:last-child { 
      display: none; 
    }

    .company-contact { gap: var(--size-10); }

    .nav-columns {
      display: flex;
      flex-direction: column;
    }

    .hire-us-pitch { text-align: center; }

  }
