/* Header Section */

.background-header {
  position: relative;
  background-image: conic-gradient(from 200deg at 77% 0%, #f3f3f3, #e0e7ef);
  padding-bottom: var(--size-200);
  z-index: -1;
}

.background-header::after {
  content: "";
  position: absolute;
  width: 100%;
  background: url('/header-bg.svg');
  background-repeat: no-repeat;
  bottom: 0;
  height: 40%;
  z-index: -5;
}

section.nav-header { width: 100%; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div {
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  gap: var(--size-24);
}

header nav a { color: var(--font-color-dim); }

header nav div:nth-child(2) a, .learn-more a { 
  color: var(--primary-btn); 
}

header div button { margin-left: var(--size-40); }

/* Brand Section */

.brand > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--size-450);
}

.brand-statement {
  display: inline-flex;
  flex-direction: column;
  width: var(--size-400);
}

.brand-statement h1 {
  font-size: var(--size-50);
  font-weight: 400;
  margin-block: 0;
  margin-bottom: var(--size-10);
}

.brand-statement > div:first-child {
  color: var(--font-color-dim);
}

.brand-statement .learn-more { 
  margin-top: var(--size-25);
  font-weight: 500;
}

.brand-statement .learn-more button { 
  margin-right: var(--size-25);
}

.play-video i { padding-right: var(--size-10); }

.empowered-apps {
  position: relative;
  width: var(--size-450);
  height: 100%;
}

.empowered-apps div,
.bubble-logo {
  height: var(--size-60);
  width: var(--size-60);
  display: flex;
  border-radius: 50%;
  background: white;
}

.empowered-apps div {
  position: absolute;
  border: transparent;
  box-shadow: 0 0 var(--size-10) rgba(0, 0, 0, 30%);
}

.empowered-apps .bubble-logo-large {
  height: var(--size-80);
  width: var(--size-80);
}

.empowered-apps div img {
  background: var(--white);
  max-width: 60%;
  max-height: 60%;
  margin: auto;
}

.empowered-apps div:nth-child(1) {
  left: 5%;
  top: 10%;
}
.empowered-apps div:nth-child(2) {
  top: 10%;
  right: 50%;
}

.empowered-apps div:nth-child(3) {
  top: 10%;
  right: 0;
}

.empowered-apps div:nth-child(4) {
  top: 56%;
}

.empowered-apps div:nth-child(5) {
  top: 56%;
  right: 28%;
}

.empowered-apps div:nth-child(6) {
  top: 83%;
  right: 60%;
}

.empowered-apps div:nth-child(7) {
  right: 2%;
  top: 91%;
}

/* Key Benefits Section */

.key-benefits-heading { 
  text-align: center;
  margin-block: 0;
  margin-bottom: var(--size-15);
  font-size: var(--size-24);
}

.key-benefits-heading div { 
  color: var(--font-color-dim);
  font-size: var(--size-18);
}

.key-benefits-heading h3 { margin: var(--size-10) 0; }

.cards {
  display: flex;
  margin: var(--size-75) 0;
  gap: var(--size-32);
}

.card {
  box-shadow: 0 0 var(--size-10) rgba(48, 63, 100, 0.15);
  text-align: left;
  border-radius: 2px;
}

.card-image-wrapper {
  height: var(--size-60);
  width: var(--size-60);
}

.card-image-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.cards .card .card-content div:nth-child(2) { 
  margin: var(--size-20) 0; 
}

.cards .card:nth-child(3) .card-content div {
  display: flex;
  align-items: flex-start;
  gap: var(--size-16);
}

.cards .card .card-content { padding: var(--size-20); }

.card-content h5 { 
  font-size: var(--size-16);
  margin-block: 0;
}

.card-content p { color: var(--font-color-dim); }

.cards .card .card-content button {
  background: #44d7a8;
  color: var(--white);
  padding: var(--size-5) var(--size-12);
  border: transparent;
  border-radius: var(--size-15);
}

.cards .card .card-content a {
  color: var(--primary-btn);
}

/* video Demo Section */

.small-video-demo/*  */ {
  background: #e0e7ef42;
  height: var(--size-450);
}

.small-video-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.small-video-container .pitch { margin-left: var(--size-25); }

.small-video-container .pitch h2 { font-weight: 500; }

.small-video-container .thumbnail { align-self: flex-end; }

.small-video-container .thumbnail img { 
  max-width: 100%;
  max-height: 100%;
}

/* Product Pitch Section */

.product-pitch > div { 
  margin-top: var(--size-50);
  margin-bottom: var(--size-100);
}

.product-pitch-heading { 
  margin: auto;
  text-align: center;
  width: var(--size-530);
  margin-bottom: var(--size-75);
}

.product-pitch-heading h2 { 
  margin-block: 0;
  margin-bottom: var(--size-5);
}

.step-outline,
.step-visual,
.step-captions { display: flex; }

.step-outline {
  justify-content: space-around;
  align-items: center;
}

.step-visual,
.step-captions { 
  justify-content: space-around;
}

.step-visual {
  gap: var(--size-8);
}

.step-outline hr {
  background: #e0e7ef;
  border: none;
  height: 2px;
  margin-block: 0;
  margin-inline: 0;
  flex: 1;
  display: flex;
}

.step { 
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.line {
  display: flex;
  align-items: center;
  gap: var(--size-8);
}

.step:nth-child(1) .line hr:first-child,
.step:nth-child(4) .line hr:last-child
 { background: transparent; }

.line .bubble-logo { 
  background: #e0e7ef;
  margin: var(--size-20) auto;
}

.line .bubble-logo div {
  margin: auto;
  height: var(--size-10);
  width: var(--size-10);
  background: var(--primary-btn);
  border-radius: 50%;
}

/* Large Video Demo Section */

.large-video-demo > div { 
  background-image: url(/starter-package/banners/banner_two.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-450);
}

.large-video-demo div a {
  box-shadow: 0 0 var(--size-10) rgba(0, 0, 0, 30%);
  border-radius: 50%;
}

.play-icon .bubble-logo div {
  font-size: var(--size-20);
  margin: auto;
  color: black;
}

/* Testimony Section */

